@charset "UTF-8";

/* 共通 */

html {
  font-size: 100%;
}

body {
  line-height: 1.7;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 3%;
}

/* ヘッダー */

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.header-title {
  padding: 10px 3%;
  font-size: 1.7rem;
  font-weight: 400;
}

.header-title a {
  color: #000;
}

.nav-item {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #3c3737;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  transition: right 0.5s ease-in-out;
  z-index: 20;
}

.nav-item.open {
  right: 0;
  background-color: #3c3737;
}

.hamburger {
  position: fixed;
  inset: 20px 20px auto auto;
  cursor: pointer;
  z-index: 20;
  width: 30px;
}

.hamburger span {
  display: block;
  background-color: #000;
  height: 3px;
  width: 100%;
  margin: 5px 0;
  transition: 0.5s;
}

.hamburger.active span {
  background-color: #fff;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.list-item {
  text-align: center;
  margin-top: 60px;
  padding: 0;
}

.list-item li {
  font-size: 1rem;
  padding: 20px 0;
  border-bottom: 2px solid #fff;
}

.list-item li a {
  display: block;
  color: #fff;
  padding: 10px 0;
}

/* メイン */

.container {
  padding-top: 80px;
}

.article h2 {
  text-align: center;
  margin: 1rem 0;
  font-size: 1rem;
}

.under-line {
  text-align: center;
  margin: 0 0 2rem 0;
}

/* 下線の親要素 */
.under-line a {
  position: relative;
  display: inline-block;
  color: #000;
  padding-bottom: -1px;
  font-weight: 350;
}

/* 下線となる擬似要素の設定 */
.under-line a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: 0;
  opacity: 1;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

/* ホバーした時の擬似要素の変化 */
.under-line a:hover::after {
  transform: translateY(5px);
  opacity: 0;
}

article ul {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

article p {
  text-align: justify;
  margin: 0.8rem 0 1rem 0;
  padding: 0 2rem;
  font-size: 1rem;
}

/* サイドバー */

.side-bar h3,
.side-bar p {
  text-align: center;
  margin: 2rem 0;
}

.side-bar section {
  margin: 3rem 0;
}

/* author */

.author {
  margin-top: 5rem;
}

.author img {
  display: block;
  margin: 0 auto;
  width: 20%;
  border-radius: 50%;
}

.author h3 {
  padding: 1rem 0;
}

.author p {
  text-align: justify;
}

/* .ranking */

.ranking p {
  margin: 0.5rem 0;
}

/* archive */

.archive h3 {
  margin-bottom: 2rem;
}

.archive ul {
  border-top: 1px solid #000;
  margin-bottom: 4rem;
}

.archive li,
.menu li {
  font-size: 0.9rem;
  padding: 1.2rem 1rem;
  border-bottom: 1px solid #000;
}

/* footer */

.footer {
  width: 100%;
  background-color: #efefef;
}

.footer-content {
  padding: 0 3%;
}

.about h3,
.menu h3,
.sns h3 {
  margin: 1.5rem 0;
}

.about p {
  padding: 1rem 0;
  text-align: justify;
}

.about li a {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  color: #000;
  font-size: 0.875rem;
}

.about li a::before {
  content: "";
  position: absolute;
  background-color: #000;
  inset: 5px 0 0 8px;
  width: 8px;
  height: 11px;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.about,
.menu,
.sns {
  padding: 0.8rem 0;
}

.menu ul {
  border-top: 1px solid #000;
  margin: 1rem 0;
}

.menu a,
.sns a {
  color: #000;
}

.copyright {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
  background-color: #3c3737;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 1320px;
    margin: 0 auto;
    flex-direction: column; /* 縦並びに変更 */
    gap: 1rem; /* タイトルとナビゲーションの間の余白 */
  }

  .header-title {
    margin: 1rem 0;
    padding: 0 3%;
  }

  .nav-item {
    top: 0;
    right: 0;
    height: 20px;
    width: 100%;
    position: static; /* fixedやstickyを解除 */
    transform: none; /* transformをリセット */
    height: auto;
    width: auto;
    background-color: #3c3737;
    padding: 0;
  }

  .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 30px;
    padding: 1.5rem 0;
    margin-top: 0;
  }

  .list-item li {
    border-bottom: none;
    font-size: 1rem;
  }

  .list-item li a {
    color: #fff;
  }

  .hamburger {
    display: none;
  }

  .container {
    padding-top: 190px;
    display: flex;
    gap: 2.5%;
  }

  .main-content {
    width: 60%;
  }

  .main-article:nth-child(2) {
    margin: 5rem 0;
  }

  .side-bar {
    width: 30%;
    margin: 1%;
  }

  .author img {
    width: 35%;
  }

  .ranking {
    text-align: center;
  }

  .ranking h3 {
    margin-bottom: 1rem;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .about,
  .menu,
  .sns {
    width: 30%;
  }
}
